* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font-family: "Open sans", sans-serif;
	-webkit-font-smoothing: antialiased;

}

body.home {
  font-size: 16px;
  line-height: 26px;
  color: #5b5b5f;
}

section {
  text-align: center;
  padding: 70px 0;
  position: relative;
  overflow: hidden;
  z-index: 10;
  border-top: 1px solid #eee;

  header {
    width: 50%;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}

h3 {
  font-size: 2em;
  margin: 0 0 0.5em 0;
  font-weight: 600;
}

h3 + p {
  font-size: 1.6em;
  opacity: .7;
  margin: 0;

  /* &:after {
    display: block;
    content: "";
    width: 100px;
    height: 1px;
    margin: 50px auto;
    background: $hero;
    opacity: .3;
  } */
}

h3 ~ a {
  margin-top: 40px;
  display: inline-block;
}

h3, h4 ,h5 ,h6 {
  color: $hero;
}

h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: $hero;
}

.btn-cta {
  background: $cta;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 2px;

  &.secondary {
    background: none;
    border: 2px solid $cta;
    color: $cta;
  }
}
