#talks {
  .wrapper {
    @include display-flex;
    @include flex-props(row wrap, space-between, flex-start, flex-start);
  }
  .content {
    width: 50%;
  }
  article {
    display: block;
    border: 1px solid #eee;
    margin-bottom: 10px;
    border-radius: 2px;

    &:last-child { margin-bottom: 0; }

    .more-info {
      color: $cta;
      text-transform: uppercase;
      font-size: .75em;
      font-weight: bold;
    }

    &:hover .more-info {
      text-decoration: underline;
    }
    a {
      display: block;
      padding: 15px 25px;
      color: #5b5b5f;
      text-decoration: none;
    }
    h4 {
      margin: 0;
      font-size: 1em;
    }
    p {
      margin: 10px 0;
      opacity: .7;
    }
  }
}
