.text-center {
    text-align: center;
}

.btn {
    margin-top: 0;
    border-radius: 2px;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: lighten($black, 50);
    transition: 0.25s;
    &:hover {
        background-color: lighten($black, 55);    
    }

    &.primary {
        background-color: darken($blue, 15);
        &:hover {
            background-color: darken($blue, 20);
        }
    }
    &.secondary {
        background-color: $orange;
        &:hover {
            background-color: darken($orange, 5);
        }
    }
}

.roboto {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    &.light {
        font-weight: 300;
    }
    &.bold {
        font-weight: 700;   
    }
}