body {
    font-family: Open Sans;
    font-weight: 300;
    color: #666;
    -webkit-text-size-adjust: 100%;
}

/* common styles */
a {
    text-decoration: none;
    transition: 0.25s;
}

h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    line-height: 40px;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: $black;
}

h3 {
    font-family: Open Sans;
    line-height: 40px;
    font-weight: 700;
    font-style: normal;
    color: $white;
    font-size: 21px;
}

h4 {
    font-family: Open Sans;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
    color: #FFF;
    font-size: 20px;
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #A6A6A6;
}

p {
    line-height: 26px;
    font-style: normal;
    font-size: 16px;
    margin: 0 0 10px;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.width-100 {
    width: 100%;
}

.margin-top {
    margin-top: 15px !important;
}

.btn {
    margin-top: 0;
    border-radius: 2px;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: 0;
    background-color: lighten($black, 50);
    transition: 0.25s;
    &:hover {
        background-color: lighten($black, 55);    
    }

    &.primary {
        background-color: darken($blue, 15);
        &:hover {
            background-color: darken($blue, 20);
        }
    }
    &.secondary {
        background-color: $orange;
        &:hover {
            background-color: darken($orange, 5);
        }
    }
}

.roboto {
    font-family: 'Roboto Slab', serif;
    &.light {
        font-weight: 300;
    }
    &.bold {
        font-weight: 700;   
    }
}

.open-sans {
    font-family: 'Open Sans', serif;
    &.light {
        font-weight: 300;
    }
    &.bold {
        font-weight: 700;   
    }
}