/* home */
.image {
    height: 90vh;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.services,
.projects,
.talks,
.contact {
    padding: $spacing-unit 0;
}

.projects,
.talks {
    color: white;
}

.projects {
    background-color: #777;
    a {
        color: $white;
        &:hover {
            color: $orange;
        }
    }
}

.talks {
    background-color: $blue;
}

.contact {
    form {
        label,
        input:not([type^="submit"]),
        textarea {
            display: block;
            font-family: Open Sans;
            width: 100%;
            max-width: 600px;
            font-size: 16px;
        }
        label {
            line-height: 26px;
            margin: 10px 0 5px;
        }
        input:not([type^="submit"]),
        textarea {
            padding: 8px;
            height: auto;
            border: 1px solid #999;
        }
        [type^="submit"] {
            font-family: Open Sans;
            font-size: 16px;
        }
    }
}


/* grid styles */
.grid {
    background-color: lighten($black, 90);
}

.grid-item {
    background-color: $white;
    padding: 30px;
    width: 31.3333%;
    margin: 1%;
    .title {
        font-size: 1.5rem;
        margin-bottom: $spacing-unit/2;
    }
    .labels {
        color: lighten($black, 75);
    }
}

.filterer {
    margin: 1%;
    padding: 15px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
