body {
    font-family: $base-font-family;
    font-weight: 300;
    -webkit-text-size-adjust: 100%;
}

.image {
    height: 90vh;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.services,
.projects,
.talks,
.contact {
    padding: $spacing-unit 0;
}

.projects,
.talks {
    color: white;
}

.projects {
    background-color: #777;
}

.talks {
    background-color: $blue;
}
