#future-talk {
  border-top: 1px solid #eee;
  padding: 50px 0 60px;
  background: #fffbf5;

  .wrapper {
    text-align: center;
  }
  
  h5 {
    margin: 0 0 7px;
    text-transform: uppercase;
    opacity: .6;
    font-weight: normal;
  }
  h4 {
    font-size: 2em;
    margin: 0;
  }
  p {
    margin-bottom: 30px;
  }
  .btn-cta { display: inline-block; }
}