#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 100;

  .default {
    background-image: -webkit-gradient(linear, top, bottom, from($hero), to(rgba(40,45,50,0)));
    background-image: -webkit-linear-gradient(top, $hero, rgba(40,45,50,0));
    background-image:    -moz-linear-gradient(top, $hero, rgba(40,45,50,0));
    background-image:     -ms-linear-gradient(top, $hero, rgba(40,45,50,0));
    background-image:      -o-linear-gradient(top, $hero, rgba(40,45,50,0));
    background-image:         linear-gradient(top, $hero, rgba(40,45,50,0));

    &:before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-image: -webkit-gradient(linear, top, bottom, from($hero), to(rgba(40,45,50,0)));
      background-image: -webkit-linear-gradient(top, $hero, rgba(40,45,50,0));
      background-image:    -moz-linear-gradient(top, $hero, rgba(40,45,50,0));
      background-image:     -ms-linear-gradient(top, $hero, rgba(40,45,50,0));
      background-image:      -o-linear-gradient(top, $hero, rgba(40,45,50,0));
      background-image:         linear-gradient(top, $hero, rgba(40,45,50,0));
    }
  }

  .wrapper {
    @include display-flex;
    @include flex-props(row nowrap, space-between, center, center);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .white {
    background-image: -webkit-gradient(linear, top, bottom, from(#fff), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, #fff, rgba(255,255,255,0));
    background-image:    -moz-linear-gradient(top, #fff, rgba(255,255,255,0));
    background-image:     -ms-linear-gradient(top, #fff, rgba(255,255,255,0));
    background-image:      -o-linear-gradient(top, #fff, rgba(255,255,255,0));
    background-image:         linear-gradient(top, #fff, rgba(255,255,255,0));

    a:not(.btn-cta) { color: $hero; }

    &:before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-image: -webkit-gradient(linear, top, bottom, from(#fff), to(rgba(255,255,255,0)));
      background-image: -webkit-linear-gradient(top, #fff, rgba(255,255,255,0));
      background-image:    -moz-linear-gradient(top, #fff, rgba(255,255,255,0));
      background-image:     -ms-linear-gradient(top, #fff, rgba(255,255,255,0));
      background-image:      -o-linear-gradient(top, #fff, rgba(255,255,255,0));
      background-image:         linear-gradient(top, #fff, rgba(255,255,255,0));
    }

    #gonto-logo path { fill: $hero; opacity: .7; }
  }

  a {
    color: #fff;
    text-decoration: none;
    display: block;

    &.btn-cta {
      margin: 0 0 0 15px;
    }

    &:not(.btn-cta):hover { text-decoration: underline; }
  }

  li {
    list-style: none;
    display: inline-block;

    > a { padding: 10px 15px; }
  }

  h1 {

  }
}