@mixin flex($val) {
	flex: $val;
	-webkit-flex: $val;
	-moz-flex: $val;
}

@mixin display-flex {
	display: flex;
	display: -webkit-flex;
	-moz-display: flex;
}

@mixin flex-props($flow, $justify, $content, $items) {
	flex-flow: $flow;
	justify-content: $justify;
	align-content: $content;
	align-items: $items;

	-webkit-flex-flow: $flow;
	-webkit-justify-content: $justify;
	-webkit-align-content: $content;
	-webkit-align-items: $items;

	-moz-flex-flow: $flow;
	-moz-justify-content: $justify;
	-moz-align-content: $content;
	-moz-align-items: $items;
}

@mixin background-horizontal($startColor: #3C3C3C, $endColor: #999999) {
    background-color: $startColor;
    background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(left, $startColor, $endColor);
    background-image:    -moz-linear-gradient(left, $startColor, $endColor);
    background-image:     -ms-linear-gradient(left, $startColor, $endColor);
    background-image:      -o-linear-gradient(left, $startColor, $endColor);
    background-image:         linear-gradient(left, $startColor, $endColor);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}', gradientType='1');
}

$hero: #282d32;
$cta: #c0392b;