<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

{% include head.html %}

<body class="post blog-content {% if site.animated %}animated fade-in-down{% endif %}">
{% assign white = true %}
{% include header.html %}
<div class="blog site-wrap">

    <div class="post-content post p2 p-responsive wrap" role="main">
      <div class="measure">
        {% assign minutes = content | number_of_words | divided_by: 180 %}
        {% if minutes == 0 %}
        {% assign minutes = 1 %}
        {% endif %}

        <div class="post-header mb2">
          <h1>{{ page.title }}</h1>
          <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span><br>
          {% if page.update_date %}
            <span class="post-meta">Updated: {{ page.update_date | date: "%b %-d, %Y" }}</span><br>
          {% endif %}
          <span class="post-meta small">{{ minutes }} minute read</span>
        </div>

        <article class="post-content">
          {{ content }}
        </article>
        {% if page.share != false %}{% include social-share.html %}{% endif %}

        {% if page.comments != false %}<div id="disqus_thread"></div><!-- /#disqus_thread -->{% endif %}

        {% if site.related_posts.size %}
          <h3 class="related-post-title">Related Posts</h3>
          {% for post in site.related_posts | limit:3 %}
            <div class="post ml2">
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
                <h4 class="post-title">{{ post.title }}</h4>
                <p class="post-summary">{{ post.summary }}</p>
              </a>
            </div>
          {% endfor %}
        {% endif %}

      </div>
    </div>
  </div>


</div>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
